<table class="table">
    <thead>
        <th>ID</th>
        <th>NOME</th>
        <th>CODICE FISCALE</th>
        <th>TELEFONO</th>
        <th>DATA DI NASCITA</th>
        <th>SESSO</th>
    </thead>
    
    <tbody>
    <tr ng-repeat="(key,item) in items">
        <td>{{ item.id }}</td>
        <td>{{ item.nome }}</td>}
        <td>{{ item.cf }}</td>
        <td>{{ item.telefono }}</td>
        <td>{{ item.datanascita || date }}</td>
        <td>{{ item.sesso }}</td>
        <td><button ng-click="delete(item.id)" class="fa fa-trash" aria-hidden="true"></td>
    </tr>
    </tbody>
</table> 